*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none; 
}

section{
    width: 100vw;
    height: 1576px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    .wrapper{
        width: 450px;
        height: 1350px;
        // background-color:wheat;

        .wrapper__top{
            width: 450px;
            height:350px;

            .top__container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: 129px;
                    margin-bottom: 40px;
                   
                }

                h2{
                    font-size: 28px;
                    color: #000;
                    margin-bottom: 30px;
                    

                }

                button{
                    width: 233px;
                    height: 47px;
                    background-color: #1877f2;
                    font-weight: bolder;
                    font-size: 16px;
                    border-radius: 40px;
                    margin-bottom: 20px;



                    &:hover{
                        width: 240px;
                        height: 50px;
                        font-size: 19px;
                        transition: 0.10s;
                    }
                }

                .span__text{

                    display: flex;
                    flex-direction: column;
                    span{
                        font-size: 14px;
                        margin-bottom: 15px;
    
                        a{
                            color: #1db954;
                        }
                        
                    }
                }

                .line{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .line1{
                        width:150px;
                        height: 2px;
                        background-color: #000;
                    } 

                    p{
                        margin: 0 20px;
                    }
                }
            }
        }

        .wrapper__input{
             width: 100%;
             // background-color: red;
              display: flex;
              flex-direction: column;
        
              h2{
                   text-align: center;
                   margin-bottom: 30px;
                }
            .add__input{
                 margin-bottom: 20px;

              p{
                font-weight: bolder;
                font-size: 14px;
              }

              input{
                width: 100%;
                height: 47px;
                margin-top: 10px;
                border:2px solid rgb(195, 194, 194);
                border-radius: 5px;
                padding-left: 10px;


                &::placeholder{
                    font-size: 16px;
                    padding-left: 10px;
                }
                
            }
            }
            }

        .birth{
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 20px;
            margin: 15px 0;

            input::placeholder{
                font-size: 20px;
            }


            .month{
                input{
                    width: 190px;
                    height: 47px;
                    border:2px solid rgb(195, 194, 194);
                    border-radius: 5px;
                    font-size: 20px;
                }
            }

            .day{
                input{
                    width: 90px;
                    height: 47px;
                    border:2px solid rgb(195, 194, 194);
                    border-radius: 5px;
                    font-size: 20px;

                }
            }

            .year{
                input{
                    width: 120px;
                    height: 47px;
                    border:2px solid rgb(195, 194, 194);
                    border-radius: 5px;
                    font-size: 20px;
                    
                }
            }

        }

        .radio{
            width: 75%;
            height: 30px;
            font-size: 18px;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;
        }


        .wrapper__bottom{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;

            .span__text{

                display: flex;
                flex-direction: column;
                text-align: center;

                span{
                    font-size: 14px;
                    margin-bottom: 15px;

                    a{
                        color: #1db954;
                    }
                    
                }
            }

            button{
                width: 151px;
                height: 51px;
                border-radius: 40px;
                font-size: 16px;
                font-weight: bolder;
                margin-top: 10px;
                margin-bottom: 25px;
                background-color: #1ed160;

                &:hover{
                    width: 153px;
                    height: 55  px;
                }
            }


            p{
                font-size: 16px;

                a{
                    color: #1db954;
                }
                

                
            }




        }

   

    }

}
