* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

@mixin btn__active {
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 40px;
    background: #191414;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}


section {
    width: 100vw;
    height: 80px;

    nav {
        height: 80px;
        width: 100vw;
        background-color: #000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Roboto', sans-serif;


        .main__logo {
            width: 140px;
        }
        


        ul {
            display: flex;
            position: relative;

            :nth-child(3)::after {
                content: '';
                position: absolute;
                width: 2px;
                height: 18px;
                background: #fff;
                left: 62%;
                transform: translateX(65%);
            }

        
            .burger a i {
                transform: scale(0);
            }

            li {
                margin: 0 18px;
            
          
                a {
                    font-size: 16px;
                    color: #fff;
                    font-weight: 700;
                    
                    &:hover {
                        color: #1ed760

                    }
                }
            }  
        }
        
    }
    
}


.blue__wrapper{
    width: 100%;
    height: 480px;
    background: #1d75de;


    .main__wrapper {
        width: 90%;
        height: 480px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .wrapper__text {

        display: flex;
        flex-direction: column;
        line-height: 2.5;

        h2 {
            color: #fff;
            font-size: 37px;
        }

        span {
            color: #fff;
            font-size: 25px;
        }

        button {
            width: 200px;
            height: 50px;
            border: 0;
            border-radius: 30px;
            margin-top: 20px;
        }

        .btn__active {
            background: #191414;
            color: #fff;
            font-size: 16px;
            margin-right: 10px;

            &:hover {
                transform: scale(1.05);
            }
        }

        .btn__transparent {
            background: transparent;
            color: #fff;
            font-size: 16px;

            &:hover {
                background: #2760af;
                transform: scale(1.05);
            }
        }

        .terms {
            font-size: 12px;
            color: #fff;
            margin-top: 50px;

            a {
                color: #fff;
                text-decoration: underline;
            }
        }




    }

    .wrapper__img img {
        width: 400px;
        margin-left: 30px;
    }
}


.question {
    width: 100vw;
    height: 563px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 62px;
        margin-bottom: 60px;
    }

    .cards {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .card {
        width: 265px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 142px;
        }

        .span__heading {
            font-size: 27px;
            font-weight: 700;
            margin: 20px 0;
        }

        span {
            font-size: 20px;
        }

    }
}


.article {
    width: 100vw;
    height: 1070px;
    background: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;

    h1 {
        font-size: 40px;
        margin-top: 40px;
    }

    span {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .boxes {
        width: 90%;
        height: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .box {
            width: 260px;
            height: 750px;
            background: #fff;
            border-radius: 15px;
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            align-items: center;

            .box__text {
                width: 250px;
                height: 150px;
                margin: 15px 0 0 25px;

                span{
                    font-size: 17px;
                }

            .free__trial {
                background-color: #1d75de;
                width: 110px;
                height: 22px;
                display: flex;
                justify-content: center;
                border-radius: 6px;

                span {
                    font-size: 16px;
                    color: #fff;
                    font-weight: 700;
                }
            }
            
            }
        }
        hr {
            width: 90%;
            margin: 0 auto;
        }

        .checkings {
            width: 80%;
            margin: 0 auto;
            height: 350px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            

            span{
                font-size: 16px;
            }
        }
        button {
            @include btn__active();
        }

        p {
            width: 80%;
            font-size: 12px;
            margin-top: 20px;
        }

        
    }
   
}


footer{
    width: 100vw;
    height: 530px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .footertop{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: red;


        .footer__links{
            width: 70%;
            height: 345px;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .link{
                width: 170px;
                height: 345px;
                font-size: 25px;
                line-height: 2;
    
                span{
                    color: #919496;
                }
                a{
                    color: #fff;

                    &:hover{
                        color: #1ed760;
                    }
                }
                
            }
    
            .link1{
                img{
                    width: 160px;
                }
            }
    
        }

        .footer__links  .linklar{
            display: flex;
        }
    
    
    
    
        .footer__socials{
            width: 30%;
            height: 345px;
            display: flex;
            align-items: top;
            justify-content: center;
    
    
            ul{
                display: flex;
    
                li{
                    margin: 0 10px;
    
                    a{font-size: 30px;
                    }  
                    i{
                        width: 60px;
                        height: 60px;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        border-radius: 50%;
                        background-color: rgb(36, 34, 34);
    
                        &:hover{
                            color: #1ed760;
                        }
    
                    }
                }
            }
        }
    }

    .foot-bottom{
        width: 85%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items:flex-end;

        ul{
            display: flex;

            li{
                margin: 0 15px;

                a{
                    color: #919496;

                    &:hover{
                        color: #1ed760;
                    }
                }
            }
        }
    .right{color: #919496;

        i{
            &:hover{
                color: #1ed760  ;
            }
        }
    }

   }

}







@media screen and ( max-width:1050px ){
    .article{
        width: 100%;
        height: 1800px;
        display: flex;
        align-items: center;

        .boxes{
            width: 50%;
           display: grid;
           grid-template-columns: repeat(2,2fr);
           grid-gap: 20px;

        }
    }


    footer{
        .footertop{
            position: relative;
            .footer__links{
                position: relative;


                div.link1{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .link2{
                    position: absolute;
                    top: 60px;
                    left: 0;
                }
                .link3{
                    position: absolute;
                    top: 60px;
                    left: 280px;
                }
                .link4{
                    position: absolute;
                    top: 60px;
                    left: 520px;
                }
            }

            .footer__socials{
                position: absolute;
                bottom: -300px;
                left: 0;
            }

        }
    }
}



@media screen and ( max-width:1050px ){
    section{
            nav{
                ul{
                    display: none;
             }

                .burger a i{
                    display: flex;
                 flex: 1;
                
                }
         }         
    }
    section nav ul .burger a i{
        display: flex;
        flex: 1;
    }






    .blue__wrapper{
        width: 100%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;

        .main__wrapper{
            display: flex;
            flex-direction: column;


            img{
                margin-top: 30px;
            }
        }
    }


    .question{height: auto;
        .cards{
            display: grid;
            grid-template-columns: repeat(2,2fr);




        }
    }

    


    // .article{
    //     height: 3100px;


    //     .boxes{
    //         display: flex;
    //         flex-direction: column;
    //     }
    // }






}







@media screen and ( max-width:850px ) {
    .question{
        height: 1300px;
        .cards{
            display: flex;
            flex-direction: column;
        }
    }



    .article{
        height: 3100px;


        .boxes{
            display: flex;
            flex-direction: column;
        }
    }





    footer{ 
        height: 1500px; ;
        .footertop{
            height: 1100px;
            position: relative;
            .footer__links{
                height: 1000px;
                position: relative;


                div.link1{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .link2{
                    position: absolute;
                    top: 320px;
                    left: 0;
                }
                .link3{
                    position: absolute;
                    top: 570px;
                    left: 0;
                }
                .link4{
                    position: absolute;
                    top: 60px;
                    left: 0;
                }
            }

            .footer__socials{
                position: absolute;
                bottom: -250px;
                left: 100px;
            }

        }

        .foot-bottom{
            position: relative;

            .left ul{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                grid-gap: 20px;
            }
            display: flex;
            flex-direction: column;

            .right{
                position: absolute;
                left: 0;
                bottom: -120px;
            }
        }
    }

   
}

















@media screen and (max-width:510px){

    .question{
        h1{
            font-size: 300%;
        }
    }

}