*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100vh;
    background-color:blue;
    background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
    background-size:170%;
    background-position:TOP;
    background-repeat: no-repeat;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;


    nav{
        height: 80px;
        width: 100vw;
        background-color: #000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        

        img{
            width: 140px;
        }


        ul{
            display: flex;
            position: relative;

            :nth-child(3)::after{
                content: '';
                position: absolute;
                width: 2px;
                height: 18px;
                background-color: #fff;
                left: 65%;
                // transform:translateX(65%);

           
                }

            }

            li{
                margin: 0 15px;

                a{
                    color: #fff;
                    font-size:16px;
                    font-weight: 700;


                    &:hover{
                        color: #1ed760;
                    }
                  
                }
            }
        }
        .burger a i{
            color:#fff;
            display: none;
        }
    }

    .main__content{
        width: 100vw;
        height:300px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;


        span::after{
            content: "everithing";
            width: 400px;
            height: 120px;
            position: absolute;
            color: #1ed760;
            top: 52%;
            left: 50%;
            margin-top: 20PX;

        }
    

         .main__text{
        font-size: 95px;  
        color: #1ed760; 
        font-weight: bolder;
        }

    }

    div:nth-child(3){
        // position: absolute;
        // left: 350px;
        color:#1ed760;
        font-size:25px;
    }

    button{
        // position: absolute;
        // left: 550px;
        // top: 440px;
        width: 200px;
        height: 50px;
        background-color: #1ed760;
        border: 3px solid white;
        border-radius: 50px;
        font-size: 20px;
        color: blue;
        font-weight: bolder;
        margin-top: 20px;

        &:hover{
            width: 210px;
            height: 55px;
        }
    }


footer{
    width: 100vw;
    height: 530px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .footertop{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: red;


        .footer__links{
            width: 70%;
            height: 345px;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .link{
                width: 170px;
                height: 345px;
                font-size: 25px;
                line-height: 2;
    
                span{
                    color: #919496;
                }
                a{
                    color: #fff;
                }
                
            }
    
            .link1{
                img{
                    width: 160px;
                }
            }
    
        }

        .footer__links  .linklar{
            display: flex;
        }
    
    
    
    
        .footer__socials{
            width: 30%;
            height: 345px;
            display: flex;
            align-items: top;
            justify-content: center;
    
    
            ul{
                display: flex;
    
                li{
                    margin: 0 10px;
    
                    a{font-size: 30px;
                    }  
                    i{
                        width: 60px;
                        height: 60px;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        border-radius: 50%;
                        background-color: rgb(36, 34, 34);
    
                        &:hover{
                            color: #1ed760;
                        }
    
                    }
                }
            }
        }
    }

    .foot-bottom{
        width: 85%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items:flex-end;

        ul{
            display: flex;

            li{
                margin: 0 15px;

                a{
                    color: #919496;

                    &:hover{
                        color: #1ed760;
                    }
                }
            }
        }
    .right{color: #919496;

        i{
            &:hover{
                color: #1ed760  ;
            }
        }
    }

   }

}
















@media screen and ( max-width:850px ) {
    header {
            .main__content {
                 span::after{
                    color: #fff;
                }
            
            
                 .main__text{
                      font-size:400%;
                     transition: 2s;
                     color: #fff;
                    }
                }


                    p{
                     font-size: 70%;
                     transition: 2s;
                     color: #fff;

                    }

                    button{
                         width:120% ;
                         height: 80%;
                         font-size: 100%;
                         font-weight: normal;
                         transition: 2s;
                         color: #fff;
                        
                    }
        
            
    }

    footer{
        width: 100%;
        height: 830px;
        display: flex;
        justify-content: flex-start;

        .footertop{
            height: 600px;
            display: flex;
            flex-direction: column;
            position: relative;

            .footer__links{
                width: 100%;
                height: 500px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items:center;

                .link1{
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;

                    img{
                        width: 80%;
                    }
                }


                .linklar{
                    display: flex;

                    .link{
                        width: 198px;
                        margin: 0  30px;
                    }


    
                   
    
                }

               

            }

            .footer__socials{
                position: absolute;
                top: 500px;
                left: 0;
            }


           
        }   

        .foot-bottom{
            position: relative;

            .left{  

                ul{
               

                    li:nth-child(6){
                        position: absolute;
                        bottom: -40px;
                        left: 0px;
                    }

                    li{


                        a{
                            font-size:100%;
                            
                        }
                    }


                }
            }
        }
    }


}










@media screen and (max-width:580px) {
    header{
        nav{


            ul{
                display: none;
            }

            .burger a i{
                display: flex;
                flex: 1;
                
            }
        }

        .main__content {
            span::after{
               color: #fff;
           }
       
       
            .main__text{
                 font-size:300%;
                transition: 2s;
                color: #fff;
               }
           }


               p{
                font-size: 60%;
                transition: 2s;
                color: #fff;

               }

               button{
                    width:120% ;
                    height: 70%;
                    font-size: 80%;
                    font-weight: normal;
                    transition: 2s;
                    color: #fff;
                   
               }

       
            
        
    }





    footer{
        width: 100%;
        height: 1400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 30px;
       


        .footertop{
            height: 1000px;
            display: flex;
            flex-direction: column;
            position: relative;


            .footer__links{
                width: 100%;
                height: 1050px;
               padding-top: 170px;
                display: flex;
                flex-direction: column;
                justify-content:flex-end;
                align-items:flex-start;

                .link1{
                    height: 50px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    margin-bottom: 50px;

                    img{
                        width: 80%;
                    }
                }


                .linklar{
                    display: flex;
                    flex-direction: column;

                    .link{
                        width: 198px;
                        margin: 0  30px;
                    }


    
                   
    
                }

               

            }

            .footer__socials{
                position: absolute;
                top: 900px;
                left:50px;
            }


           
        }   

        .foot-bottom{
            position: relative;

            .left{  

                ul{
               

                    li:nth-child(6){
                        position: absolute;
                        bottom: -40px;
                        left: 0px;
                    }

                    li{


                        a{
                            font-size:55%;
                            
                        }
                    }


                }
            }
            .right{
                font-size: 70%;
            }
        }
    }

}